body {
	background-color: rgb(65, 104, 129);
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 50px !important;
}

#moth-container {
	margin-top: 30px;
	margin-left: 250px;
	background-image: url('img/hassie1.jpg');

}

#moth-container img {
	width: 700px;
}